:root {
    --colour-highlight: orange;
    --colour-highlight-30: rgba(255,165,0,0.3);
    --colour-accent: orangered;
}

html {
    color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 5ch;
   }

img {
    max-width: 100%;
}

h1 {
    font-size: 400%;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.1;
    text-wrap: balance;
}

dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

dl dt {
    grid-row: 1;
    text-transform: uppercase;
    font-size: 80%;
}

dl dd {
    grid-row: 2;
    margin: 0;
    font-size: 120%;
}